body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url("img/b6c0cc3d04a8e2cc4b2e6a4b7144764b.jpeg");
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    margin-top: 11%;
    margin-left: 12%;
    
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.card {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 10px;
}

.social-icons a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.merk {
   color: white;
   font-size: 24px;
   font-weight: bold;
   margin-right: 50px; 
}


body {
    background-image: url("img/background home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

.welcome {
    color: #705C53;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: px; 
}


.navbar {
    background-color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-toggle {
    display: none; 
}

.menu-icon {
    display: none; 
    font-size: 24px;
    color: white;
    cursor: pointer;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    background-color: transparent;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .nav-links {
        display: none; 
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .menu-toggle:checked + .menu-icon + .nav-links {
        display: flex; 
    }

    .menu-icon {
        display: block; 
    }

    .nav-links li {
        width: 100%; 
    }

    .nav-links a {
        display: block;
        padding: 10px;
        text-align: center;
    }
}
